body{
    background-color: #2B2D42;
}

.about-me{
    position: absolute;
    top: 40%;
    left: 7.5%;
}
.about-me > h1{
    color: #EDF2F4;
    font-size: 30px;
    font-family: "Space Mono", monospace;
    padding: 0px;
    margin: 0px;
}
.about-me > h2{
    color: #EDF2F4;
    font-size: 50px;
    font-family: "Space Mono", monospace;
    padding: 0px;
    margin: 0px;
}
.about-me > h3{
    color: #8D99AE;
    font-size: 30px;
    font-family: "Space Mono", monospace;
    padding: 0px;
    margin: 0px;
}
